exclude txsscanlib/test_*.py

recursive-include doc/_build/html *
include doc/_build/latex/Txsscan.pdf

include data/DEF/*.xml
include data/profiles/*.hmm

include test/test_*.py
include test/main.py
include test/__init__.py
include test/datatest/DEF/*.xml
include test/datatest/base/*
include test/datatest/hmm/*
include test/datatest/profiles/*
include test/txsscan.conf

include etc/txsscan.conf

include INSTALL
include COPYING
include COPYRIGHT
