recursive-exclude data *

recursive-include doc/build/html *
include doc/build/latex/Macsyfinder.pdf

recursive-include utils *
include etc/macsyfinder.conf
recursive-exclude tests/__pycache__ *

include README.md
include COPYING
include COPYRIGHT
include NEWS
include CITATION.yml
include requirements.txt
include requirements_dev.txt

