params.worker = 1

manifest {
  homePage = 'https://github.com/gem-pasteur/macsyfinder'
  description = 'Workflow to run MacSyFinder on large dataset.'
  mainScript = 'parallel_macsyfinder.nf'
  defaultBranch = 'master'
  nextflowVersion = '>=0.31'
}

profiles {
    standard {
        executor {
            name = 'local'
            queueSize = 4
        }
        process {
            errorStrategy = 'terminate'
            withName: macsyfinder {
                cpus = params.worker
            }
        }
    }

    standard_apptainer {
        executor {
            name = 'local'
            queueSize = 4
        }
        process {
            errorStrategy = 'terminate'
            container = '/path/to/macsyfinder/Apptainer/macsyfinder-2.1rc1.simg'
            withName: macsyfinder
                cpus = params.worker
            }
        }
        singularity {
            enabled = true
       }
    }

    standard_docker {
        executor {
            name = 'local'
            queueSize = 4
        }
        process {
            errorStrategy = 'terminate'
            container = 'macsyfinder'
            withName: macsyfinder {
                cpus = params.worker
            }
        }
        docker {
            enabled = true
            runOptions = '--user $(id -u):$(id -g)'
       }
    }

    cluster {
        executor {
            name = 'slurm'
            queueSize = 500
        }

        process {
            errorStrategy = 'retry'
            maxRetries = 50
            queue = 'common,dedicated'
            clusterOptions = '--qos=fast'
            withName: macsyfinder {
                cpus = params.worker
            }
        }
    }

    cluster_apptainer {
        executor {
            name = 'slurm'
            queueSize = 500
        }

        process {
            errorStrategy = 'retry'
            maxRetries = 100
            container = '/path/to/macsyfinder-apptainer-image'
            queue = 'common,dedicated'
            clusterOptions = '--qos=fast'
            withName: macsyfinder {
                cpus = params.worker
            }
           withName: split {
          	memory = 20.GB
          }
        }
	
        singularity {
            enabled = true
            runOptions = '-H $HOME -B /pasteur'
            autoMounts = false
       }
    }
}
